@import url(root.css);

body {
  background-color: var(--corpo);
  font-family: 'Open sans', 'icones', sans-serif;
  color: var(--fonte);
}

.cabecalho {
  align-items: center;
  background-color: var(--cabecalho-mobile);
  box-shadow: var(--sombras);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.cabecalho__menu i::before {
  content: '\e904';
  font-size: 24px;
}

.cabecalho__notificacao i::before {
  content: '\e906';
  font-size: 24px;
}

.cabecalho__logo {
  width: 40px;
}

.menu-lateral {
  background-color: var(--cabecalho-mobile);
  display: flex;
  flex-direction: column;
  left: -100vw;
  height: 100vh;
  position: absolute;
  transition: 0.25s;
  width: 75vw;
}

.menu-lateral--ativo {
  left: 0;
  transition: 0.25s;
}

.menu-lateral__logo {
  align-self: center;
  width: 118px;
  padding: 16px;
}

.menu-lateral__link {
  align-items: center;
  color: var(--fonte-alternativa);
  display: flex;
  padding-left: 64px;
  height: 64px;
}

.menu-lateral__link--ativo {
  border-left: 8px solid var(--fonte);
  color: var(--fonte);
  padding-left: 56px;
}

.menu-lateral__link::before {
  content: '';
  font-size: 24px;
  height: 24px;
  left: 24px;
  position: absolute;
  width: 24px;
}

.menu-lateral__link--inicio::before {
  content: '\e902';
}
.menu-lateral__link--videos::before {
  content: '\e90e';
}
.menu-lateral__link--picos::before {
  content: '\e909';
}
.menu-lateral__link--integrantes::before {
  content: '\e903';
}
.menu-lateral__link--camisas::before {
  content: '\e900';
}
.menu-lateral__link--pinturas::before {
  content: '\e90a';
}

.principal {
  padding: 24px 16px;
}

.titulo-pagina {
  font-size: 1.5rem;
  font-weight: 700;
}

.cartao {
  background-color: var(--cartao);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

.cartao__conteudo {
  padding: 16px;
}

.cartao__titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.cartao__perfi {
  color: var(--fonte-alternativa);
  font-size: 0.9rem;
}

.cartao__info {
  align-items: center;
  display: flex;
  color: var(--fonte-alternativa);
}

.cartao__info--tempo {
  content: '\e90c';
  margin-right: 8px;
}

.cartao__info--visualizacao {
  content: '\e90f';
  margin-right: 8px;
}

.cartao__botao {
  display: flex;
}
