@import url(root.css);

body {
  background-color: var(--corpo);
  font-family: 'Open sans', sans-serif;
  color: var(--fonte);
}

.cabecalho {
  align-items: center;
  background-color: var(--cabecalho-mobile);
  box-shadow: var(--sombras);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
